# .gitignore for Expo app

uiContent
# Node modules
/backend/uploads
/backend/node_modules
/backend/combined.log
/backend/.env
/backend/yarn.lock


# Expo build artifacts
/AlloMedic/node_modules
/AlloMedic/.expo
/AlloMedic/.expo-shared
/AlloMedic/build
/AlloMedic/yarn.lock

# IDE files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
.vscode/
*.suo
*.user
*.suo
*.user
*.tsserver.log
*.log
.env
node_modules/
npm-debug.log
